<script>
document.addEventListener("DOMContentLoaded", function () {
  const buttons = document.querySelectorAll(".proj-btn");
  const contents = document.querySelectorAll(".proj-content");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      buttons.forEach((btn) => btn.classList.remove("active"));
      contents.forEach((content) => content.classList.remove("active"));

      button.classList.add("active");
      const proj = button.getAttribute("data-proj");
      document.getElementById(proj).classList.add("active");
    });
  });
});
</script>
