.layout
  width: 100%
  display: grid
  grid-template-columns: 1fr 2fr 2fr
  gap: 20px

  &-header
    grid-column: span 1
    text-align: center
    padding: 20px

  &-section1
    padding: 20px

  &-section2
    padding: 20px
