.layout
  width: 100%
  display: grid
  grid-template-columns: min-content max-content auto
  gap: 16px
  height: 100%
  overflow-y: hidden

  &-header
    grid-column: span 1
    text-align: left
    padding: 20px

  &-section1
    padding: 20px
    max-width: 375px

  &-section2
    padding: 20px
    height: 100%
    overflow-y: hidden

    .bibbase_group
      padding: 5px 10px 5px

@media (max-width: 1000px)
  .layout
    grid-template-columns: 1fr
    gap: 10px
    overflow-y: auto

  .layout-header,
  .layout-section1
    grid-column: span 1
  .layout-section2
    grid-column: span 1
    min-height: 500px
